In [ ]:
""" Estruturas de entrada e saída (input/print);
""" Estrutras de condição (if/elif/else);
""" Estrutura de repetição (for/while)
""" Estruturas com listas (numéricas e não numéricas)
""" Estruturas com tuplas
""" Estruturas com funções (def e lambda)
""" Estruturas com dataframe

In [1]:
# Ex.1

lista_num = []

for i in range(5):
  entrada = float(input('Digite um número'))
  lista_num.append(entrada)
  print(lista_num)

Digite um número10
[10.0]
Digite um número0
[10.0, 0.0]
Digite um número20
[10.0, 0.0, 20.0]
Digite um número30
[10.0, 0.0, 20.0, 30.0]
Digite um número40
[10.0, 0.0, 20.0, 30.0, 40.0]

In [5]:
# Ex.2

soma = 0

for k in lista_num:
  soma += k

media = soma / len(lista_num)
print(media)

[10.0, 0.0, 20.0, 30.0, 40.0]
20.0

In [6]:
# Ex. 3

for k in range(1, 5):
  for i in range(1, 5):
    print(k * i)

1
2
3
4
2
4
6
8
3
6
9
12
4
8
12
16

In [7]:
# Ex.4

lista_carros = ['volvo', 'bwm', 'chevrolet', 'byd']

for i in lista_carros:
  if i == 'chevrolet':
    print(i)
    break
  else:
    print("Não encontrado")

Não encontrado
Não encontrado
chevrolet

In [8]:
# Ex.5

lista_marca = []
lista_carros = []

for i in range(1, 6):
  marca = input('Digite a marca do carro')
  lista_marca.append(marca)
  print(lista_marca)

for k in range(1, 6):
  carro = input("Digite o nome do carro")
  lista_carros.append(carro)
  print(lista_carros)

for i in range(len(lista_marca)):
  for k in range(len(lista_carros)):
    if i == k:
      print(f'{lista_marca[i]} {lista_carros[k]}')

Digite a marca do carrovolks
['volks']
Digite a marca do carrofiat
['volks', 'fiat']
Digite a marca do carrotoyota
['volks', 'fiat', 'toyota']
Digite a marca do carrochevrolet
['volks', 'fiat', 'toyota', 'chevrolet']
Digite a marca do carroford
['volks', 'fiat', 'toyota', 'chevrolet', 'ford']
Digite o nome do carrogol
['gol']
Digite o nome do carrouno
['gol', 'uno']
Digite o nome do carrocorolla
['gol', 'uno', 'corolla']
Digite o nome do carrocruze
['gol', 'uno', 'corolla', 'cruze']
Digite o nome do carrofiesta
['gol', 'uno', 'corolla', 'cruze', 'fiesta']

In [13]:
# Ex.6

lista_marca = []
lista_carros = []

for i in range(1, 6):
  marca = input('Digite a marca do carro')
  carro = input("Digite o nome do carro")
  lista_marca.append(marca)
  lista_carros.append(carro)

for i in range(len(lista_marca)):
  for k in range(len(lista_carros)):
    if i == k:
      print(f'{lista_marca[i]} {lista_carros[k]}')

Digite a marca do carrovolvo
Digite o nome do carrofia
Digite a marca do carrovolks
Digite o nome do carroford
Digite a marca do carrobwm
Digite o nome do carrovolvo1
Digite a marca do carrouno
Digite o nome do carrogol
Digite a marca do carrofiesta
Digite o nome do carrobmw
volvo fia
volks ford
bwm volvo1
uno gol
fiesta bmw

In [14]:
# Ex.7

lista_times = []
lista_masters = []
lista_secundarios = []

for i in range(1, 6):
  time = input('Digite o time')
  master = input("Digite o patrocinador master")
  secundario = input("Digite o patrocinador secundário")

  lista_times.append(time)
  lista_masters.append(master)
  lista_secundarios.append(secundario)

for i in range(len(lista_times)):
  for k in range(len(lista_masters)):
    for j in range(len(lista_secundarios)):
      if i == k == j:
        print(f'{lista_times[i]} {lista_masters[k]} {lista_secundarios[j]}')

Digite o timereal madrid
Digite o patrocinador masterfly emirates
Digite o patrocinador secundárioHP
Digite o timecorinthians
Digite o patrocinador mastersport da sorte
Digite o patrocinador secundárioezz seguros
Digite o timepalmeiras
Digite o patrocinador mastercrefisa
Digite o patrocinador secundáriofam
Digite o timeflamengo
Digite o patrocinador masterbanco BRB
Digite o patrocinador secundáriofuturo vip
Digite o timebarcelona
Digite o patrocinador masterspotify
Digite o patrocinador secundárionike

In [15]:
print(lista_times)
print(lista_masters)
print(lista_secundarios)

for i in range(len(lista_times)):
  for k in range(len(lista_masters)):
    for j in range(len(lista_secundarios)):
      if i == k == j:
        print(f'{lista_times[i]} {lista_masters[k]} {lista_secundarios[j]}')

['real madrid', 'corinthians', 'palmeiras', 'flamengo', 'barcelona']
['fly emirates', 'sport da sorte', 'crefisa', 'banco BRB', 'spotify']
['HP', 'ezz seguros', 'fam', 'futuro vip', 'nike']

In [19]:
class Pessoa:
   def __init__(self, nome, idade, cpf, rg):
      self.nome = nome
      self.idade = idade
      self.cpf = cpf
      self.rg = rg

p1 = Pessoa('Maria', 35, 11122233344, 2288811163)

print(p1.nome)
print(p1.idade)
print(p1.cpf)
print(p1.rg)

Maria
35
11122233344
2288811163

In [22]:
class marca_carros:
   def __init__(self, marca, modelo, cor, cambio, direcao):
     self.marca = marca
     self.modelo = modelo
     self.cor = cor
     self.cambio = cambio
     self.direcao = direcao

teste1 = marca_carros('chevrolet', 'onix','cinza', 'automatico', 'eletrica')
teste2 = marca_carros('fiat', 'uno','branca', 'manual', 'hidraulica')

print(teste1.marca)
print(teste1.modelo)
print(teste1.cor)
print(teste1.cambio)
print(teste1.direcao)

lista_atributos1 = [teste1.marca, teste1.modelo, teste1.cor, teste1.cambio, teste1.direcao]
lista_atributos2 = [teste2.marca, teste2.modelo, teste2.cor, teste2.cambio, teste2.direcao]

print(lista_atributos1)
print(lista_atributos2)

chevrolet
onix
cinza
automatico
eletrica
['chevrolet', 'onix', 'cinza', 'automatico', 'eletrica']
['fiat', 'uno', 'branca', 'manual', 'hidraulica']

In [25]:
class Pessoa:
   def saudacao(self):
      return f"Olá, meu nome é {self.Pessoa}"

In [29]:
class Carro:
   rodas = 4
   def __init__(self, marca, modelo):
      self.marca = marca
      self.modelo = modelo

carro1 = Carro('Toyota', 'Corolla')
carro2 = Carro('Honda', 'Civic')

print(carro1.rodas)
print(carro2.rodas)

Carro.rodas = 6
print(carro1.rodas)
print(carro2.rodas)

4
4
6
6

In [30]:
class Times:
   quantidade = 11
   def __init__(self, nome, patrocinador, tecnico, estadio):
       self.nome = nome
       self.patrocinador = patrocinador
       self.tecnico = tecnico
       self.estadio = estadio

time1 = Times('Real Madrid', 'Fly Emirates', 'Ancelloti', 'Santiago Bernabeu')
time2 = Times('Palmeiras','Crefisa','Abel Ferreira','Alianz')
time3 = Times('Flamengo','Banco BRB','Felipe Luiz','Maracanã')

print(time1.quantidade)
print(time1.nome, time1.patrocinador, time1.tecnico, time1.estadio)
print(time2.quantidade)
print(time2.nome, time2.patrocinador, time2.tecnico, time2.estadio)
print(time3.quantidade)
print(time3.nome, time3.patrocinador, time3.tecnico, time3.estadio)

11
Real Madrid Fly Emirates Ancelloti Santiago Bernabeu
11
Palmeiras Crefisa Abel Ferreira Alianz
11
Flamengo Banco BRB Felipe Luiz Maracanã

In [37]:
class Animal:
  def __init__(self, nome):
    self.nome = nome

def mover(self):
  return f"{self.nome} está se movendo."

class Cachorro(Animal):
  def latir(self):
    return f"{self.nome} diz: Au Au!"

cachorro1 = Cachorro("Rex")
print(cachorro1.latir())

Rex diz: Au Au!